{% extends 'base.html.twig' %}

{% block main %}



    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Ajouter</button>
{{ form_end(form) }}

    <hr>
{% endblock %}

