{# src\AppBundle\Resources\views\produit\form.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <title>Ajout d'un produit</title>
</head>
<body>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Ajouter</button>
{{ form_end(form) }}
</body>
</html>